<a href="https://colab.research.google.com/github/anitashar/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/anita_sharma_Copy_of_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [48]:
from google.colab import files
uploaded = files.upload()

Saving bank_cleaned.csv to bank_cleaned (2).csv

In [0]:
bank = pd.read_csv('bank_cleaned.csv')

In [50]:
# what are the columns to check
bank.head()

   Unnamed: 0  age           job  ... poutcome response response_binary
0           0   58    management  ...  unknown       no               0
1           1   44    technician  ...  unknown       no               0
2           2   33  entrepreneur  ...  unknown       no               0
3           5   35    management  ...  unknown       no               0
4           6   28    management  ...  unknown       no               0

[5 rows x 18 columns]

In [51]:
bank['response_binary'].value_counts()

0    36202
1     4639
Name: response_binary, dtype: int64

In [52]:
bank['response'].value_counts()

no     36202
yes     4639
Name: response, dtype: int64

In [53]:
bank.isnull().sum()

Unnamed: 0         0
age                0
job                0
marital            0
education          0
default            0
balance            0
housing            0
loan               0
day                0
month              0
duration           0
campaign           0
pdays              0
previous           0
poutcome           0
response           0
response_binary    0
dtype: int64

## **Choose your target. Which column in your tabular dataset will you predict?**

My target is 'response_binary '.I will predict 'response_binary'

In [0]:
# 2.Is your problem regression or classification?
# my problem is classification problem.as my y variable(target variable) is categorical has 2 classes.

In [54]:
# How is your target distributed?

y = bank['response_binary']
y.nunique()

2

In [55]:
# different values of y
y.value_counts(normalize=True)

0    0.886413
1    0.113587
Name: response_binary, dtype: float64

In [56]:
# majority class
y.value_counts(normalize=True).max()

0.8864131632428197

In [0]:
# Classification: How many classes? Are the classes imbalanced?

# #### ans --- I have 2 classes in my response variable.One class is 88% & other class is 11% only.Yes i have class imbalanced.

# Regression: Is the target right-skewed? If so, you may want to log transform the target.

In [0]:
# Choose your evaluation metric(s).
# ROC ,AUC
# Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. 

# # ###. ans --- yes my majority class >70% so my classes are imbalanced.

# Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?

## **Choose which observations you will use to train, validate, and test your model.**
## Are some observations outliers? Will you exclude them?
## **Will you do a random split or a time-based split?**

In [0]:
# I will use random split .

## **Begin to clean and explore your data.**
## **Begin** to choose which features, if any, to exclude. Would some features "leak" future information?

In [0]:
# I would drop 2 features as response_binary & response is duplicate columns & I will delete Unnamed 0: which is not useful at all.

In [0]:
bank = bank.drop(['response','Unnamed: 0'],axis =1 )

In [59]:
bank.head()

   age           job  marital  ... previous poutcome  response_binary
0   58    management  married  ...        0  unknown                0
1   44    technician   single  ...        0  unknown                0
2   33  entrepreneur  married  ...        0  unknown                0
3   35    management  married  ...        0  unknown                0
4   28    management   single  ...        0  unknown                0

[5 rows x 16 columns]

In [61]:
bank.shape

(40841, 16)